@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 12px 200px;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.white-text{
    color: #E5E7EB;
}

.intro{
    display: flex;
    flex: 1;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    gap: 24px;
    align-self: stretch;
    min-height: 300px;
}

.intro .white-text{
    font-size: 18px;
}

.intro-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro-title{
    width: 700px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.intro-button{
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-style: none;
}

.place-holder{
    background-color: gray;
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.place-holder img {
    /* Option 1: Crop and center the image */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}  

.info .intro-button{
    border: 3px solid #E5E7EB;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    flex: 1;
    width: 70%;
}

.container{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    height: 250px;
}

.info-title{
    padding: 25px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    gap: 6px;
}

.blue-box{
    border-radius: 10%;
    border: 3px solid #3882F6;
    min-height: 130px;
    min-width: 130px;
}

.info-text{
    text-align: center;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
}

.author{
    text-align: end;
    font-weight: bold;
}

.register{
    height: 100px;
    width: 80%;
    display: flex;
    border-radius: 10px;
    background-color: #3882F6;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
}

.register-title{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.register-info{
    width: 300px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 60px;
}

ul{
    display: flex;
    list-style: none;
    gap: 12px;
}

a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

cite{
    font: italic;
    display: block;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}